<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VeterinarioController</servlet-name>
        <servlet-class>controller.VeterinarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaController</servlet-name>
        <servlet-class>controller.ConsultaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnimalController</servlet-name>
        <servlet-class>controller.AnimalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorController</servlet-name>
        <servlet-class>controller.TutorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VeterinarioController</servlet-name>
        <url-pattern>/VeterinarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaController</servlet-name>
        <url-pattern>/ConsultaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnimalController</servlet-name>
        <url-pattern>/AnimalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorController</servlet-name>
        <url-pattern>/TutorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
